*.acn
*.acr
*.alg
*.aux
*.backup
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.kate-swp
*.kile
*.kilepr
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
.idea
.texpadtmp
_minted*
